<div class="container">
	<h1><%= @title %></h1>
	<div class="content">
		<div class="add-column">
			<%= current_user.name %>
		</div>
		<div class="users-column">
			<div class="follow-users">
				<% @users.each do |item| %>    
				    <div class="follow-users-item">
				    	<p>Имя: <%= item.name %>, email: <%= item.email %></p>						      
				    </div>   
				<% end %>
			</div>
		</div>
	</div>
</div>