<div class="stats">
 <a href="<%= following_user_path(user) %>">
    <span>Подписки:
      <strong id="following" class="stat">
        <%= user.followed_users.count %>
      </strong>    
    </span>   
  </a>
 <a href="<%= followers_user_path(user) %>">
    <span>Подписчики:
      <strong id="followers" class="stat">
        <%= user.followers.count %>
      </strong>
    </span>
  </a>
</div>