body{
	padding-top: 50px;
}
.navbar{
	background: #ccc;
}
.form-block{	
	textarea{
		height: 100px;
	}
	.row{
		margin-bottom: 0 0 20px;
	}	
}
.form-group i{
	font-size: 11px;
	display: block;
}
.move-right input[type="submit"]{
	margin-left: 5px;
}
.form-block.add-comment-form {
	margin-bottom: 40px;
}
.form-block.add-comment-form textarea{
	height: 50px;
}

.main-column{
	width: 600px;
	margin: 0 auto;
}
.photo-block {
	width: 600px;
	margin-bottom: 60px;
	.photo-item{
		text-align: center;
		padding: 0 0 20px;
		margin: 0 0 20px;
		border-bottom: 1px dotted #ccc;
		.user-photo{
			text-align: left;
			.author{
				font-style: italic;
				font-size: 13px;
				overflow: hidden;
				margin: 0 0 10px;
				b{
					margin: 15px 0 0 60px;
					display: block;
				}
			}
			.author-avatar{
				width: 50px;
				height: 50px;
				overflow: hidden;
				border-radius: 50%;
				float: left;
				img{
					width: 100%;
					height: 100%;
					display: block;
				}
			}
		}		
	}	
	.photo{
		margin-bottom: 20px;
	}
	img{
		display: block;
		margin: 0 auto;
	}	
	.al-right{
		text-align: right;
	}
	.photo-descr{
		text-align: left;
	}	
}

.comment-item{
	.comment-photo{
		width: 50px;
		height: 50px;
		overflow: hidden;
		border-radius: 50%;
		float: left;
		img{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.comment-cont{
		margin: 0 0 0 60px;
	}
	.author{
		font-style: italic;
		font-size: 13px;
	}
}

.stats span{
	margin: 0 20px 0 0;
}
.content{
	overflow: hidden;
	width: 800px;
	margin: 0 auto;	
}
.profile-info{
	overflow: hidden;
	padding: 20px;
	.user-avatar{
		float: left;
		width: 150px;
		height: 150px;
		border: 1px solid #ccc;
		border-radius: 50%;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}		
	}
	.user-info{
		margin: 0 0 0 200px;
		font-size: 16px;
		h4{
			margin: 20px 0 5px;
		}
		p.descr{
			font-size: 14px;
		}
	}
}
.follow-users-item{
	overflow: hidden;
	padding: 10px;
	margin: 0 0 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	.follow-users-photo{
		width: 80px;
		height: 80px;
		overflow: hidden;
		float: left;
		border-radius: 50%;
		img{
			width: 100%;
			height: auto;
		}
	}
	p{
		margin: 10px 0 0 110px;
	}

	p.descr{
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-top: 0;
	}
}

.follow_form{
	padding: 10px 0;
	overflow: hidden;
	span{
		float: left;
		margin: 7px 10px 0 0;
	}
}

.like-result span{
	margin: 0 10px;
}

