body{
	padding-top: 50px;
}
.navbar{
	background: #ccc;
}
.form-block{	
	textarea{
		height: 100px;
	}
	.row{
		margin-bottom: 0 0 20px;
	}	
}
.form-group i{
	font-size: 11px;
	display: block;
}
.move-right input[type="submit"]{
	margin-left: 5px;
}
.form-block.add-comment-form {
	margin-bottom: 40px;
}
.form-block.add-comment-form textarea{
	height: 50px;
}

.main-column{
	width: 600px;
	margin: 0 auto;
}
.photo-block {
	width: 600px;
	margin-bottom: 60px;
	.photo-item{
		text-align: center;
		padding: 0 0 20px;
		margin: 0 0 20px;
		border-bottom: 1px dotted #ccc;
		.user-photo{
			text-align: left;
			.author{
				font-style: italic;
				font-size: 13px;
			}
		}		
	}	
	.photo{
		margin-bottom: 20px;
	}
	img{
		display: block;
		margin: 0 auto;
	}	
	.al-right{
		text-align: right;
	}	
}

.comment-item .author{
	font-style: italic;
	font-size: 13px;
	display: block;
	text-align: right;
}
.stats span{
	margin: 0 20px 0 0;
}
.content{
	overflow: hidden;
	width: 800px;
	margin: 0 auto;	
	.add-column{
		width: 250px;
		float: left;
	}
	.users-column{
		margin: 0 0 0 280px;
	}

}
.profile-info{
	overflow: hidden;
	padding: 20px;
	.user-avatar{
		float: left;
		width: 150px;
		height: 150px;
		border: 1px solid #ccc;
		border-radius: 50%;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}		
	}
	.user-info{
		margin: 0 0 0 200px;
		font-size: 16px;
		h4{
			margin: 20px 0 5px;
		}
		p.descr{
			font-size: 14px;
		}
	}
}

